<div class="container">
    <div class="title" data-text="Success is not the key to happiness. Happiness is the key to success. If you love what you are doing, you will be successful.">Success is not the key to happiness. Happiness is the key to success. If you love what you are doing, you will be successful.</div>


    <div class="name">
        <span>
            <span>Hi,</span> I am
        </span><br>
        <span>Anudeep Balla</span><br>
        <span>Software Developer Engineer</span>
    </div>

      <div class="profile">
        <img src="../../assets/Balla.png" alt="" class="profile-image"/>
        <div class="decorative-border"></div>
      </div>
      
</div>